* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #007056;
  font-family: "Ubuntu";
}

header {
  background-color: #007056;
  height: 60px;
}

.navmenu {
  margin: 40px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0px 20px 0px 0px;
}

section {
  max-height: max-content;
}

.boton {
  margin: 0px;
  color: rgb(255, 255, 255);
  background-color: #007056;
  padding: 10px 20px;
  border-radius: 10px;
}

.container {
  display: flex;
}

.containermain {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(141, 140, 140);
}

h1 {
  margin: 50px 0px 0px 0px;
  color: #007056;
}

h2 {
  font-size: 20px;
  margin: 10px 0px;
}

.imagen {
  width: 60%;
}

.imagen3 {
  margin-left: 40px;
}

::placeholder {
  color: rgb(196, 196, 196);
}

.containerfooter {
  background-color: #007056;
  display: flex;
  justify-content: end;
  margin: 20px;
}

.form {
  padding: 20px 60px 20px 60px;
  margin: 20px 50px 20px 50px;
  background: #ffffff;
  box-shadow: 2px 4px 4px 5px rgba(152, 152, 152, 0.2);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.divinput {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 10px 0px;
}
input {
  margin: 0px 15px;
  color: #a7a7a7;
  border-radius: 3px;
  padding: 5px 5px;
}

a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  margin: 0px 10px 0px 10px;
}

p {
  margin: 15px 0px;
  font-size: 14px;
  font-style: italic;
}

.navmenu a:hover {
  color: #004333;
  font-size: larger;
}
